.main {
    margin: 0 4%;
}

.modal_content {
    margin: 2% 13%;
}

.email_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email_input {
    width: 350px;
}

.modal_btn {
    float: right;
}