.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 4%;
    height: 550px;
}

.description {
    width: 50%;
    margin-right: 4%;
}

.time_viewer,
.file_viewer {
    width: 50%;
}

.time_viewer :global .ant-timeline-item {
    padding-bottom: 50px;
}

.file {
    width: 100%;
    height: 100%;
}